{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}


<div class="dropdown">
        <h3>{% trans "Categories" %}</h3>
        <div class="dropdown-content">
            <a href="{% url "shop:product_list" %}">{% trans "All" %}</a>
            {% for c in categories %}
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            {% endfor %}
        </div>
</div>

<div class="container">
    {% for product in products %}
    <div class="border">
        <div class="wrap">
            <div class="product-wrap">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
            </div>
            <div class="loop-action">
                <a href="{{ product.get_absolute_url }}">{% trans "Fast view" %}</a>
            </div>
            <div class="product-info">
                <h1 class="product-title">
                    <p>{{product.name}}</p>
                </h1>
                <p>{% trans "In stock" %}: {{product.stock}}</p>
                <div class="price">
                    <p>{% trans "Price" %}: {{product.price}} $</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}